body {
    font-family: 'Open Sans', fantasy;
}

h1,
h2,
h3,
.card-body > .card-title {
    font-family: 'Lobster', fantasy;
}

.card-title {
    font-weight: 500;
    font-size: 1.25rem;
}

h2 {
    color: #bee9ed;
}

.card-img-overlay .card-title {
    color: rgb(255, 255, 255);
    background-color:rgba(0, 0, 0, 0.5);;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.site-footer {
    background-image: linear-gradient(#5da9b0, white);
    padding: 20px 0;
    margin-top: 2rem;
}

.navbar-brand {
    max-width: 4rem;
    margin-right: 2rem;
}

.navbar-brand img {
    width: 100%;
    height: 100%;
    margin-right: 2rem;
    max-width: 4rem;
}


.navbar-dark {
    background-color: #bee9ed;
    background-image: linear-gradient(to right, #91e5ed, #81c8cf, #5da9b0);
    margin-bottom: 2rem;
    min-height: 8rem;
}

.page-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: 300ms ease-out;
}

.page-exit {
    opacity: 1;
}

.page-exit-active {
    opacity: 0;
    transition: 300ms ease-in;
}


.carousel {
    overflow: hidden;
  }
  
  .inner {
    white-space: nowrap;
    transition: transform 0.3s;
  }
  
  .carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: #5da9b0;
    color: #fff;
  }